<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap type="product" id="selectProductMap" >
		<result property="prodNo" column="prod_no" jdbcType="NUMERIC" />
		<result property="prodName" column="prod_name" jdbcType="VARCHAR" />
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR" />
		<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="NUMERIC" />
		<result property="fileName" column="image_file" jdbcType="VARCHAR" />
		<result property="regDate" column="reg_date" jdbcType="DATE" />
		<result property="prodQuantity" column="prod_quantity" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="orgSql">
		SELECT
		prod_no,prod_name,prod_detail,manufacture_day,price,image_file,reg_date,prod_quantity
		FROM product
			<if test="searchCondition != null">
				<where>
					<if test="searchCondition == 0 and searchKeyword !='' ">
						prod_no = #{searchKeyword}
					</if>
					<if test="searchCondition == 1 and searchKeyword !='' ">
						prod_name = #{searchKeyword}
					</if>
					<if test="searchCondition == 2 and searchKeyword != '' ">
						price = #{searchKeyword}
					</if>
				</where>
			</if>
			
			<if test="listing != null">
				<if test="listing == 'high' and listing != '' ">
					ORDER BY price DESC
				</if>
				<if test="listing == 'low' and listing != '' ">
					ORDER BY price ASC
				</if>
				<if test="listing == '' ">
					ORDER BY prod_no DESC
				</if>
			</if>
			<if test="listing == null">
				ORDER BY prod_no DESC
			</if>
	</sql>
	
	
	<insert id="addProduct" parameterType="product">
			INSERT 
			INTO product (prod_no,prod_name,prod_detail,manufacture_day,price,image_file,reg_date,prod_quantity)
			VALUES (SEQ_PRODUCT_PROD_NO.NEXTVAL,
					#{prodName},
					#{prodDetail:VARCHAR},
					#{manuDate:VARCHAR},
					<if test="price == 0">null</if>
					<if test="price != 0">#{price}</if>,
					#{fileName:VARCHAR},
					SYSDATE,
					<if test="prodQuantity == 0">null</if>
					<if test="prodQuantity != 0">#{prodQuantity}</if>)
	</insert>
	
	<select id="getProduct" parameterType="int" resultMap="selectProductMap">
		SELECT 
		prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date, prod_Quantity
		FROM product
		WHERE prod_no = #{value}
	</select>
	
	<select id="getProductList" parameterType="search" resultMap="selectProductMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM ( <include refid="orgSql"/>) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<set>
			prod_name = #{prodName},
			prod_detail = #{prodDetail},
			manufacture_day = #{manuDate},
			price = #{price},
			image_file = #{fileName},
			prod_quantity = #{prodQuantity}
		</set>
		WHERE prod_no = #{prodNo}
	</update>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM ( <include refid="orgSql"/>  ) countTable
	</select>

</mapper>
		